.LoaderContainer {
  height: 100vh;
  width: 100vw;
}

.ProgressIndicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: lightcoral;
  transform-origin: 50%;
  border: 1px solid red;
}

.TextContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TypewriterWrapper {
  font-size: 4rem;
}

.TypewriterCursor {
  font-size: 4rem;
}
